.active-link
{
    font-weight: 400px !important;
     color: #000;
     font-weight: 1000;
}
.list-group-item a
{
  text-decoration: none;
  color: #090909;

}
.list-group-item
{
    background-color: rgb(33, 231, 43);
}
.list-group-item:hover{
  background-color: forestgreen;
}
.card{
  border: none;
}
