<!-- Products -->
<div class="container mt-3">
  <div class="row">
    <div class="col-md-4 mb-3" *ngFor="let tempProducts of products | paginate:{itemsPerPage:3,currentPage:p}">
      <div class="card">
        <a routerLink="/products/{{tempProducts.id}}">
          <img src="{{tempProducts.imageUrl}}" class="card-img-top" />
        </a>
        <div class="card-body">
          <a routerLink="/products/{{tempProducts.id}}">
            <h5 class="card-title">{{tempProducts.name}}</h5>

          </a>
          <p class="card-text">{{tempProducts.unitPrice}} kg</p>
          <a href="#" class="btn btn-success">Acheter</a>
        </div>
      </div>
    </div>

    <!-- if products empty then display a message  -->
    <div class="alert alert-danger" role="alert" *ngIf="products?.length == 0">
      No products found
    </div>
  </div>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
