<!-- Contenu de la page -->
<div class="" *ngIf="cartItems.length > 0">
  <div class="container mt-4 shadow p-3 mb-5 bg-body-tertiary rounded" *ngFor="let tempCartItems of cartItems">
    <div class="row">
      <div class="col-md-6">
        <img src="{{tempCartItems.imageUrl}}" class="img-fluid" alt="Image du produit">
      </div>
      <div class="col-md-6">
        <h1>{{tempCartItems.name}}</h1>
        <h5>Prix : {{tempCartItems.unitPrice}} €</h5>
        <form>
          <div class="form-group">
            <label for="quantite"></label>
            
            <button
            (click)="incrementQuantity(tempCartItems)"
            type="button"
            class="btn btn-success m-4">
              <i class="fa fa-plus" aria-hidden="true"></i>

              </button>
              <span style="font-size: 20px;font-weight: 900;"> {{tempCartItems.quatity}}</span> :Kg
              <button type="button" class="btn btn-success m-4">
                <i class="fa fa-minus" aria-hidden="true"></i>
                </button>

          </div>
          <h5 class=" mt-3">sous-total :<span>{{(tempCartItems.unitPrice) * (tempCartItems.quatity)}} €</span></h5>
        </form>
        <hr>
      </div>
    </div>
  </div>
  <div class="container btn btn-success">
    <p>-----------------------------------</p>
    <h5>Total Quantity: {{totalQuantity}} : article</h5>
    <h5>Total Price: {{totalPrice}} €</h5>
    <p>-----------------------------------</p>
  </div>

</div>
  <!-- if cart is empty then display one message -->
 <div class="alert alert-warning " role="alert" *ngIf="cartItems.length == 0">
    Your shopping cart is empty
  </div>
