<!-- Contenu de la page -->
<div class="container mt-4" *ngFor="let tempCartItems of cartItems">
  <div class="row">
    <div class="col-md-6">
      <img src="{{tempCartItems.imageUrl}}" class="img-fluid" alt="Image du produit">
    </div>
    <div class="col-md-6" >
      <h1>{{tempCartItems.name}}</h1>
      <h5>Prix : {{tempCartItems.unitPrice}} €</h5>
      <form>
        <div class="form-group">
          <label for="quantite">Quantité :Kg</label>
          <input type="number" class="form-control" id="quantite" value="{{tempCartItems.quatity}}" min="1">
        </div>
        <button type="submit" class="btn btn-success mt-3">Total :</button>
      </form>
      <hr>
    </div>
  </div>
</div>
