<!-- Navbar -->
<div class="container mt-3 shadow p-3 mb-3 bg-body-tertiary rounded ">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand " routerLink="/products"> <img src="assets/img/products/logo.jpg" style="width: 50px;" alt="logo"> </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Accueil <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Produits</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
    </div>
       <app-search></app-search>

       <app-cart-status></app-cart-status>

  </nav>
</div>

<!-- Banner -->

<div class="container shadow p-3 mb-5 bg-body-tertiary rounded ">
  <div class="container">
    <h1 class="display-4 ">Bienvenue sur mon site e-commerce !</h1>
    <p class="lead">Trouvez tout ce dont vous avez besoin ici.</p>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-3">

      <app-product-category-menu></app-product-category-menu>
</div>
    <!-- Contenu principal -->
    <div class="col-md-9">
      <router-outlet></router-outlet>
    </div>

  </div>
</div>










<div class="container">
  <!-- Footer -->
  <footer class="bg-light mt-5">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <p>&copy; 2023 Mon site e-commerce</p>
        </div>
        <div class="col-md-6">
          <ul class="list-inline text-right">
            <li class="list-inline-item"><a href="#">Accueil</a></li>
            <li class="list-inline-item"><a href="#">Produits</a></li>
            <li class="list-inline-item"><a href="#">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</div>
