<div class="">

  <div type="button " class="btn btn-light text-dark m-3 rounded-pill border border-2">
    <i class="fa fa-cart-arrow-down " aria-hidden="true" style="font-size: 20px; color: rgb(34, 117, 28);">
      <span class="m-1" >{{totalQuantity}}</span></i>     |
      <span class="mx-1"><strong>{{totalPrice}} €</strong></span>
    </div>


</div>
<!-- <button type="button" class="btn btn-light"><i class="fa fa-user mx-3" aria-hidden="true"
      style="font-size: 20px;"></i></button> -->
