<div class="container shadow p-3 mb-5 bg-body-tertiary rounded">
  <div class="row">
    <div class="col-md-8 order-md-1">
      <h4 class="mb-3">Billing Information</h4>
      <form class="needs-validation" [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">
        <div class="row" formGroupName="customer">
          <!-- customer form group -->
          <h3>Customer</h3>
          <div class="col-md-6 mb-3">
            <label for="firstName">First name</label>
            <input type="text" class="form-control" id="firstName" placeholder=" your First Name..." value="" required
              formControlName="firstName">
            <div class="invalid-feedback">
              Valid first name is required.
            </div>
          </div>

          <div class="col-md-6 mb-3 ">
            <label for="lastName">Last name</label>
            <input type="text" class="form-control" id="lastName" placeholder=" your Last Name..." value="" required
              formControlName="lastName">
            <div class="invalid-feedback">
              Valid last name is required.
            </div>
          </div>

          <div class="col-md-6 mb-3">
            <label for="lastName">E-mail</label>
            <input type="email" class="form-control" id="email" placeholder=" your e-mail..." value="" required
              formControlName="email">
            <div class="invalid-feedback">
              Valid last name is required.
            </div>
          </div>
        </div>
        <hr>
        <h3>shipping Address</h3>
        <!--shipping address -->
        <div class="row" formGroupName="shippingAddress">

          <div class="col-md-5 mb-3">
            <label for="country">Country</label>
            <select class="form-select d-block w-100"required formControlName="country">
              <option value="">Choose...</option>
              <option>United States</option>
            </select>
            <div class="invalid-feedback">
              Please select a valid country.
            </div>
          </div>

          <div class="col-md-6 mb-3 ">
            <label for="street">Street</label>
            <input type="text" class="form-control"  placeholder=" your street..." value="" required
              formControlName="street">
            <div class="invalid-feedback">
              Valid last name is required.
            </div>
          </div>


          <div class="col-md-5 mb-3">
            <label for="city">City</label>
            <select class="form-select d-block w-100" required formControlName="city">
              <option value="">Choose...</option>
              <option>new york</option>
            </select>
            <div class="invalid-feedback">
              Please select a valid country.
            </div>
          </div>


          <div class="col-md-5 mb-3">
            <label for="country">State</label>
            <select class="form-select d-block w-100"  required formControlName="state" placeholder=" your state...">
              <option value="">Choose...</option>
              <option>United States</option>
            </select>
            <div class="invalid-feedback">
              Please select a valid country.
            </div>
          </div>


          <div class="col-md-6 mb-3">
            <label for="zipCode">Zip Code</label>
            <input type="text" class="form-control"placeholder=" your zip Code..." value="" required
              formControlName="zipCode">
            <div class="invalid-feedback">
              Valid last name is required.
            </div>
          </div>

        </div>

        <hr class="mb-4">
        <button class="btn btn-primary btn-lg btn-success" type="submit">Continue to checkout</button>
      </form>
    </div>
  </div>
</div>
