<div class="container shadow p-3 mb-5 bg-body-tertiary rounded">
  <div class="row">
    <div class="col-md-8 order-md-1">
      <h4 class="mb-3">Billing Information</h4>
      <form class="needs-validation" [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()" >
        <div class="row"formGroupName="customer">
          <!-- custemer form group -->
          <div class="col-md-6 mb-3" >
            <label for="firstName">First name</label>
            <input type="text" class="form-control" id="firstName" placeholder=" your First Name..." value="" required
            formControlName="firstName">
            <div class="invalid-feedback">
              Valid first name is required.
            </div>
          </div>

          <div class="col-md-6 mb-3 ">
            <label for="lastName">Last name</label>
            <input type="text" class="form-control" id="lastName" placeholder=" your Last Name..."  value="" required
            formControlName="lastName">
            <div class="invalid-feedback">
              Valid last name is required.
            </div>
          </div>

          <div class="col-md-6 mb-3">
            <label for="lastName">E-mail</label>
            <input type="email" class="form-control" id="email" placeholder=" your e-mail..."  value="" required
            formControlName="email">
            <div class="invalid-feedback">
              Valid last name is required.
            </div>
          </div>

        </div>


        <hr class="mb-4">
        <button class="btn btn-primary btn-lg btn-success" type="submit">Continue to checkout</button>
      </form>
    </div>
  </div>
</div>
